<%- include("partials/header") -%>


<!-- navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #112D4E;">
<div class="container">

    <button class="navbar-toggler" type="button" data-toggle="collapse"  data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">

        <ul class="navbar-nav nav-fill w-100">

            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>

            <li class="nav-item active">
                <a class="nav-link active" href="/about">About</a>
            </li>


            <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
            </li>


            <li class="nav-item">
                <a class="nav-link" href="/projects">Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/resume">Resume</a>
            </li>
        </ul>

    </div>
</div>
</nav>

<canvas id="canvas1"></canvas>
<!-- <hr id="aboutHr"> -->
<!-- About -->
<h2 class='aboutHeader'>About Me</h2>

<div class= "aboutDiv">
  <div class="aboutInner">
    <img src="/images/MyPhoto.png" alt="ProfilePic" class="profilePic" align = "left">


        <p class='aboutPar'>I am a fullstack web developer currently located in Denver, CO. I recently graduated from University of Colorado Denver with a Masters degree in statistcs. I also have a Bachelors degree in statistics from Colorado State University.
          Post graduation I worked as a data analyst at T Carta Marine, a geospatial company, in Denver.<br> <br>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>


  </div>




<%- include("partials/footer") -%>
