<%- include("partials/header") -%>

<!-- navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #112D4E;">
<div class="container">

    <button class="navbar-toggler" type="button" data-toggle="collapse"  data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">

        <ul class="navbar-nav nav-fill w-100">

            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>


            <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
            </li>

            <li class="nav-item active">
                <a class="nav-link active" href="/contact">Contact</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/projects">Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/resume">Resume</a>
            </li>

        </ul>

    </div>
</div>
</nav>


<!-- Canvas -->
<canvas id="canvas1"></canvas>
<!-- Contact -->

<div class="contactSection">
  <h2 class="contactHeader">Contact Me</h2>
      <form class="contact-form" id="contactform"  method="POST">

        <div class="form-group text-center">
          <label class="contactLabel" id="nameLabel" for="name">Name: </label>
          <input id="name" class='form-control' type="text" name="name" placeholder="Your name" required>
        </div>

        <div class="form-group text-center">
          <label class="contactLabel" id="emailLabel" for="email">Email address: </label>
          <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="_replyto" placeholder="Your email" required>
        </div>

        <div class="form-group text-center">
          <label class="contactLabel" id="subjectLabel" for="subject">Subject: </label>
          <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject" required>
        </div>

        <div class="form-group text-center">
          <label class="contactLabel" id="messageLabel" for="message">Message: </label>
          <textarea id="message" name="message" class="form-control" placeholder="Your message" rows="6" required></textarea>
        </div>

        <div class="row">
          <div class="col text-center">
            <input type="submit" class="btn btn-dark btn-lg text-center sendButt" style="background-color: #112D4E;" value="Send">
            <input type="hidden" name="_subject" value="Website contact" />
            <input type="text" name="_gotcha" style="display:none" />
          </div>

        </div>
</div>
<script src="/js/app.js"></script>
<%- include("partials/footer") -%>
