
<%- include("partials/header") -%>

<!-- navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #112D4E;">
<div class="container">

    <button class="navbar-toggler" type="button" data-toggle="collapse"  data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">

        <ul class="navbar-nav nav-fill w-100">

            <li class="nav-item active">
                <a class="nav-link active" href="/">Home</a>
            </li>


            <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/projects">Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/resume">Resume</a>
            </li>
        </ul>

    </div>
</div>
</nav>


<!-- Title -->
<canvas id="canvas1"></canvas>
<div class="top">
  <h1 class ="title">Michael Ingram</h1>
  <h3 class="subTitle">Full-Stack Developer</h3>
</div>




<!-- Footer -->

<!--Footer-->
    <!-- <footer class="page-footer font-small pt-4 mt-4 myFooter" id='foot'> -->

      <!--Footer Links-->
      <!-- <div class="container-fluid text-center text-md-center"> -->
        <!-- <div class="row"> -->

          <!--First column-->
          <!-- <div class="col-md-6">
            <h3 class="text-uppercase footName">Michael Ingram</h3>
            <h5 class="text-uppercase footJobTitle">Fullstack Developer</h5>
            <ul class="list-unstyled">
              <li>Email: micha.j.ingram@gmail.com</li>
              <li>(636)-484-0824</li>
            </ul>

          </div> -->
          <!--/.First column-->

          <!--Second column-->
          <!-- <div class="col-md-6">
            <h3 class="text-uppercase footLinks">Links</h3>
            <ul class="list-unstyled footList">
              <li><a href="https://github.com/mjingram">GitHub</a></li>
              <li><a href="https://www.linkedin.com/in/michael-ingram-42b66514a/">LinkedIn</a></li>
              <li><a href="#top">Back To Top</a></li>

            </ul>
          </div> -->
          <!--/.Second column-->
        <!-- </div>
      </div> -->
      <!--/.Footer Links-->

      <!--Copyright-->
      <!-- <div class="footer-copyright py-3 text-center">
        <div class="container-fluid">
          © 2021 Copyright: Michael Ingram

        </div>
      </div> -->
      <!--/.Copyright-->
<!--
    </footer> -->

<!-- Boostrap Script -->
<%- include("partials/footer") -%>
